.contacts {
	background-image: url(../img/decor/contacts-slide/contacts-slide-01.png), url(../img/decor/contacts-slide/contacts-slide-02.png),
		url(../img/decor/contacts-slide/contacts-slide-03.png), url(../img/decor/contacts-slide/contacts-slide-04.png),
		url(../img/decor/contacts-slide/contacts-slide-05.png);
	background-position: top 80px left, top 80px right, bottom 80px left, bottom 80px center, bottom 80px right;
	background-repeat: no-repeat;
	background-size: 170px 160px, 250px 240px, 140px 140px, 250px 70px, 210px 190px;

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		height: calc(100vh - 80px);

		padding-bottom: 50px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		max-height: 600px;
		height: 100%;
	}

	&__map {
		width: 600px;
		height: 100%;

		z-index: 5;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 20px;

		max-width: 580px;
		width: 100%;

		font-size: 22px;
		color: #fff;
	}

	&__address {
		padding-bottom: 30px;

		address {
			padding-top: 10px;
			font-style: normal;
		}
	}

	&__data {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		width: 400px;

		&__person {
			display: flex;
			justify-content: space-between;
			align-items: center;

			padding-top: 10px;
		}

		&__link {
			color: #fff;

			&::after {
				display: block;
				content: "";

				position: relative;
				bottom: -2px;
				left: 0;
				right: 0;

				background-color: #fff;

				width: 0;
				height: 2px;

				transition: all 0.2s ease-in-out;
			}

			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}
}
