.features {
	background-image: url(../img/decor/features-slide/features-slide-01.png), url(../img/decor/features-slide/features-slide-02.png),
		url(../img/decor/features-slide/features-slide-03.png), url(../img/decor/features-slide/features-slide-04.png);
	background-position: top 80px left, top 80px right, bottom right, bottom left;
	background-repeat: no-repeat;
	background-size: 340px 120px, 180px 160px, 250px 280px, 220px 230px;

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;

		height: 100vh;
	}

	&__title {
		padding-bottom: 100px;
	}

	&__content {
		gap: 30px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		flex-wrap: wrap;
	}

	&__item {
		padding-left: 20px;
		padding-top: 50px;

		background-size: 45px;

		&:nth-child(1) {
			background: url(../img/decor/features-slide/teamwork_1.png) top left no-repeat;
		}
		&:nth-child(2) {
			background: url(../img/decor/features-slide/clock.png) top left no-repeat;
		}
		&:nth-child(3) {
			background: url(../img/decor/features-slide/teamwork_2.png) top left no-repeat;
		}
		&:nth-child(4) {
			background: url(../img/decor/features-slide/plan.png) top left/43px no-repeat;
		}
		&:nth-child(5) {
			background: url(../img/decor/features-slide/phone.png) top left no-repeat;
		}
		&:nth-child(6) {
			background: url(../img/decor/features-slide/mark.png) top left no-repeat;
		}

		&__text {
			color: #fff;
			font-size: 28px;
			text-align: center;
		}
	}
}
