body {
	@include default-text;
	line-height: 1;
	background-color: #232323;
}

.top__inner,
.about__inner,
.features__inner,
.contacts__inner {
	padding-top: 80px;
}

.container {
	max-width: 1240px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.title {
	@include heading;
	text-align: center;
	text-transform: uppercase;

	padding-bottom: 50px;
}

//slider
.swiper-wrapper {
	height: 100vh;
}
