.header {
	height: 60px;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;

	background-color: $accent-color;

	&__inner {
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		color: $default-color;
		font-family: "Spectral", sans-serif;
		font-size: 36px;

		text-decoration: none;
	}

	&__nav {
		&__list {
			list-style-type: none;

			display: flex;
			align-items: center;
			gap: 0 30px;
		}

		&__link {
			@include default-text;
			text-decoration: none;

			&::after {
				display: block;
				content: "";

				position: relative;
				bottom: 0;
				left: 0;
				right: 0;

				width: 0;
				height: 1px;

				background-color: $default-color;

				transition: all 0.2s ease-in-out;
			}

			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
	}

	&__button {
		display: none;
	}
}
