.about {
	background-image: url(../../img/decor/about-slide/about-slide-01.png), url(../../img/decor/about-slide/about-slide-02.png),
		url(../../img/decor/about-slide/about-slide-03.png), url(../../img/decor/about-slide/about-slide-04.png),
		url(../../img/decor/about-slide/about-slide-05.png), url(../../img/decor/about-slide/about-slide-06.png);
	background-position: top 80px left, top 80px center, top 80px right, bottom right, bottom left, bottom center;
	background-repeat: no-repeat;
	background-size: 240px 200px, 350px 80px, 180px 340px, 120px 360px, 140px 140px, 300px 70px;

	&__inner {
		height: calc(100vh - 80px);

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__info {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		height: 540px;
		background: url(../../img/decor/about-slide/Map.png) center left/550px 540px no-repeat;
	}

	&__title {
		// padding-top: 100px;
	}

	&__text {
		color: #fff;
		max-width: 700px;
		font-size: 29px;

		text-align: right;

		.accent {
			color: $heading-color;
		}
	}
}
