.top {
	background-image: url(../../img/decor/top-slide/top-slide-01.png), url(../../img/decor/top-slide/top-slide-02.png),
		url(../../img/decor/top-slide/top-slide-03.png), url(../../img/decor/top-slide/top-slide-04.png), url(../../img/decor/top-slide/top-slide-05.png),
		url(../../img/decor/top-slide/top-slide-06.png), url(../../img/decor/top-slide/top-slide-07.png);
	background-position: top 50px left, top 40px center, top 80px right, top 650px right, bottom right, bottom left, bottom center;
	background-repeat: no-repeat;
	background-size: 220px 430px, 460px 190px, 210px 300px, 90px 120px, 220px 170px, 170px 190px, 680px 150px;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		height: calc(100vh - 80px);
	}

	&__title {
		padding-bottom: 15px;
	}

	&__subtitle {
		font: {
			family: "Spectral";
			size: 36px;
		}
		color: #fff;

		padding-bottom: 100px;
	}

	&__button {
		border: none;
		border-radius: 10px;

		padding: 20px 60px;

		background-color: $accent-color;
		color: $default-color;

		font: {
			family: "Montserrat";
			size: 24px;
		}
		cursor: pointer;

		z-index: 10;
	}
}
